/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 22, 2016, 4:47:38 PM
    Author     : cesargiraldonaranjo
*/
.chat-conversation li p {
    color: #949494 !important;
}

.badge-success {
    background-color: #00a651 !important;
}

.chat-settings {
    width: 90%;
    background-color: #949494;
    padding: 12px;
    margin: auto;
    color: #f0f0f1;
    border-radius: 4px;
}

.chat-settings a {
    color: #f0f0f1;
    font-weight: bold;
    font-size: 14px;
}

.chat-settings i.entypo-cancel {
    font-size: 16px;
}

.flt-left {
    float: left;
}

.flt-right {
    float: right;
}

.margin-top {
    margin-top: 12px;
}

.padding-top {
    padding-top: 12px;
}

.no-padding{
    padding: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

.custom-message {
    margin-bottom: 8px;
    float: left;
}

.custom-message label {
    vertical-align: top;
    font-weight: bold;
}

.custom-message textarea {
    color: #000;
    width: 180px;
    padding: 4px;
    float: right;
    margin-right: 8px;
}

.custom-message-to-send {
    float: left;
}

.custom-message-to-send input {
    margin-right: 8px;
}

#container-custom-messages {
    margin-bottom: 8px;
}

#container-custom-messages-to-send div.messages {
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    width: 100%; 
    height: 80px; 
    overflow-x: hidden; 
    overflow-y: auto;
    margin-bottom: 8px;
    padding: 4px;
}

#container-custom-messages-to-send div.messages label {
    width: 90%;
}

.conversation-body li {
    text-align: right;
    display: block;
    padding: 6px !important;
    border-bottom: 1px solid #484848;
}

.conversation-body li p {
    margin-bottom: 4px;
}

.conversation-body li span.user {
    font-style: italic;
    font-weight: normal;
}

.conversation-body li.odd {
    text-align: left;
}